4.8 Grouping Data & Aggregating Variables task

In [98]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [126]:
#Importing data set orders_products_combinedNEW.pkl
df_ords_prods_merged = pd.read_pickle(os.path.join(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combinedUPDATED.pkl'))

MemoryError:

In [100]:
#Checking shape
df_ords_prods_merged.shape

(32404859, 18)

Question 2

In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe

In [101]:
#grouping products
df_ords_prods_merged.groupby('product_name')

In [102]:
#grouping data by department id
df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Question 3

Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

With the whole data frame, you can see the results for everything - the subset only had 8 department IDs, and this has the full 21. The mean has also changed for the 8 department IDs that were in the subset.

Question 4

Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [103]:
#creating max order
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [104]:
#Checking shape
df_ords_prods_merged.shape

(32404859, 19)

In [105]:
#checking head
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,Most_orders,max_order
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Fewest orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Fewest orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders,10

In [106]:
#creating loyal customer tag
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [107]:
#creating regular customer tag
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [108]:
#creating new customer tag
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [109]:
#checking counts
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

Question 5

The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [110]:
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Question 6

The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

In [111]:
# Create new column for average price of order
df_ords_prods_merged['average_price'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [112]:
#Checking shape
df_ords_prods_merged.shape

(32404859, 21)

In [113]:
#checking head
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,Most_orders,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Fewest orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest Days,Fewest orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders,10,New customer,6.367797

In [114]:
#creating low spender tag
df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] < 10, 'spending_flag'] = 'Low spender'

If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [115]:
#creating high spender tag
df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [116]:
#checking counts
df_ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [117]:
#checking head
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_days,Most_orders,max_order,loyalty_flag,average_price,spending_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest Days,Fewest orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest Days,Fewest orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders,10,New customer,6.367797,Low spender

Question 7

In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

In [118]:
# Create new column for frequency of orders
df_ords_prods_merged['frequency_order'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [119]:
#Checking shape
df_ords_prods_merged.shape

(32404859, 23)

In [120]:
#checking head
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,Most_orders,max_order,loyalty_flag,average_price,spending_flag,frequency_order
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Slowest Days,Fewest orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest Days,Fewest orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest Days,Most orders,10,New customer,6.367797,Low spender,20.0

If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

In [121]:
#creating Non-frequent customer tag
df_ords_prods_merged.loc[df_ords_prods_merged['frequency_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

In [122]:
#creating Regular customer customer tag (changed flag to regular customer order as regular customer already exists for loyalty flag)
df_ords_prods_merged.loc[(df_ords_prods_merged['frequency_order'] <= 20) & (df_ords_prods_merged['frequency_order'] > 10), 'order_frequency_flag'] = 'Regular customer order'

If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [123]:
#creating Frequent customer customer tag
df_ords_prods_merged.loc[df_ords_prods_merged['frequency_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [124]:
#checking counts
df_ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer         22796659
Regular customer order     6921472
Non-frequent customer      2686728
Name: order_frequency_flag, dtype: int64

Question 9

Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [125]:
# Export data to pkl

df_ords_prods_merged.to_pickle(os.path.join(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combinedNEWUPDATED.pkl'))