Excercise for Task 4.4 (Question 1)

In [137]:
# Import libraries
import pandas as pd
import numpy as np
import os

Original Databases

In [138]:
#Importing data set orders.csv
df_ords = pd.read_csv(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [139]:
#Importing data set products.csv
df_prods = pd.read_csv(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [140]:
#Importing data set departments.csv
df_dep = pd.read_csv(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Original Data\departments.csv', index_col = False)

Dropping Columns

In [141]:
#Dropping eval_set column from orders.csv
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [142]:
df_ords = df_ords.drop(columns = ['eval_set'])

Missing Values

In [143]:
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

Renaming Columns

In [144]:
#Renaming orders dow to days of the week
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

Changing a Variable’s Data Type

In [145]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [146]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [147]:
df_ords['order_id'].dtype

dtype('O')

Transposing Data

In [148]:
df_dep.head ()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [149]:
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [150]:
df_dep_t = df_dep.T

In [151]:
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [152]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [153]:
# Take the first row of df_dep_t for the header
new_header = df_dep_t.iloc[0]

In [154]:
new_header

0    department
Name: department_id, dtype: object

In [155]:
df_dep_t_new = df_dep_t[1:]

In [156]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [157]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [158]:
#set the header row as the df header
df_dep_t_new.columns = new_header

In [159]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

Data Dictionaries

In [160]:
data_dict = df_dep_t_new.to_dict('index')

In [161]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [162]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [163]:
print(data_dict.get('19'))

TypeError: 'int' object is not callable

In [ ]:
df_prods['department_id']==19

Subsetting

In [ ]:
df_snacks =  df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head ()

Question 2

Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.

In [ ]:
df_ords['user_id'].astype('str')

Question 3

Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the data frame.

In [ ]:
df_ords

After looking at the table, I don't see any names that need to be changed, as I already did it at the start (under renaming) with changing orders_dow to orders_day_of_the_week.

Question 4

Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.

In [ ]:
df_ords['order_hour_of_day'].value_counts()

The most orders are places at 10 am.

Question 5

Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

In [ ]:
print(data_dict.get('4'))

Question 6

The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.

In [ ]:
#Finding what department breakfast is. 
data_dict

In [ ]:
dictA = {'frozen': 1, 'other': 2, 'bakery': 3, 'produce': 4, 'alcohol': 5, 'international': 6, 'beverages': 7, 'pets': 8, 'dry goods pasta': 9, 'bulk': 10, 'personal care': 11, 'meat seafood': 12, 'pantry': 13, 'breakfast': 14, 'canned goods': 15, 'dairy eggs': 16, 'household': 17, 'babies': 18, 'snacks': 19, 'deli': 20, 'missing': 21}
# list of keys and values
keys = list(dictA.keys())
vals = list(dictA.values())
print(keys[vals.index(11)])
print(keys[vals.index(8)])
# in one-line
print(list(dictA.keys())[list(dictA.values()).index(3)])

In [ ]:
 data_dict = {'department': 'breakfast'}

In [ ]:
df_breakfast = df_prods[df_prods['department_id']== dictA]

In [ ]:
df_breakfast

Question 7

They’d also like to see details about customers who might be throwing dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.

In [ ]:
df_dinner_party = df_prods[df_prods['department_id'].isin([5,20,7,12])]

In [ ]:
df_dinner_party

Question 8

It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have?

In [ ]:
df_dinner_party.shape

Question 9

Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.

In [ ]:
#Investigating a customer
df_ords.head(1)

In [ ]:
df_customer1 = df_ords[df_ords['user_id']==1]

In [ ]:
df_customer1.head()

Question 10

You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?

In [ ]:
#Describing a customer
df_customer1.describe()

Question 12

Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder

In [ ]:
#Exporting orders
df_ords.to_csv(os.path.join(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders.csv'))

Question 13

Export the df_dep_t_new dataframe as “departments_wrangled.csv” in your “Prepared Data” folder so that you have a “.csv” file of your departments data in the correct format.

In [ ]:
#Exporting departments
df_dep.to_csv(os.path.join(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\departments.csv',))