Task 4.6

In [44]:
# Import libraries
import pandas as pd
import numpy as np
import os

Question 3

In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

Importing Data

In [45]:
#Importing data set order_products__prior.pkl
df_ords = pd.read_pickle(os.path.join(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl'))

Question 4

Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [46]:
#Checking shape
df_ords.shape

(32434489, 10)

In [47]:
#checking data
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

Question 5

Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [48]:
#Importing data set products.csv
df_prods = pd.read_csv(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\prods_clean_no_dups.csv', index_col = False)

In [49]:
#checking data
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [50]:
#checking shape
df_prods.shape

(49672, 6)

In [51]:
#Deleting unnamed column
del df_prods['Unnamed: 0']

In [52]:
#checking data
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

Merging

In [53]:
#Getting rid of merge column
del df_ords['_merge']

In [54]:
#checking data
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [55]:
#Merging
df_orders_products_combined = df_ords.merge(df_prods, on = 'product_id', indicator = True)

Question 6

Confirm the results of the merge using the merge flag.

In [56]:
#checking merge results
df_orders_products_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [57]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [58]:
#checking shape
df_orders_products_combined.shape

(32404859, 14)

Exporting Data

In [59]:
# Export data to csv

df_orders_products_combined.to_csv(os.path.join(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combinedNEW.csv'))

In [60]:
# Export data to pkl

df_orders_products_combined.to_pickle(os.path.join(r'C:\Users\Sarah\Desktop\Data Course\08-12-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combinedNEW.pkl'))